/****** FORMATAÇÃO DAS CLASS *****/
.item-cartoes {
	background: #5dcad1;
	height: 270px;
	width: 230px;
	margin: 25px;
	align-items: center;
	justify-content: center;
	box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.5); 
}

/*** FORMATAÇÃO DAS ID's ***/
#cartoes {
	height: 325px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}