/******* FORMATAÇÃO DAS TAG's ******/
header {
    background: #5dcad1;
    height: 125px;
}
main {
    background: #DBDBDB;
}
footer {
    background: #5dcad1;
    height: 300px;
}
/*input {
    height: 50px;
    -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}*/


/****** FORMATAÇÃO DAS CLASS *****/
.area-cabeçalho {
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*justify-content: space-around;*/
    align-items: center;
}
.item-cabeçalho {
    width: 900px;
    height: 30px;
    text-align: center;
    margin: 20px;
}
.item-cabeçalho.logo{
    width: 200px;
    justify-content: start;
}
.item-cabeçalho.menu-icones{
    width: 100px;
}
.rodape {
    height: 150px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.item-rodape {
    width: 200px;
    height: 50px;
   /* border: 1px solid red;*/
}


/*** FORMATAÇÃO DAS ID's ***/

#cartoes  a:link, a:visited, a:active, a:hover {
    text-decoration: none;
    color: black;
}

/** FORMATAÇÃO DO CONTADOR DO CARRINHO **/
.badge-info {
    position: absolute;
    top: 25px;
    right: 90px;
    font-size: 14px;
    font-weight: var(--weight-500);
    line-height: 1;
    padding: 2px 4px;
}